{% extends '@EzPlatformAdminUi/form_fields.html.twig' %}

{% block collection_widget %}
    <div class="mt-3 d-flex justify-content-end">
        <button type="button" class="btn btn-sm btn-outline-danger js-form-fields-choices__add-entry">{{ 'Add'|trans }}</button>
    </div>
{% endblock %}