.formbuilder__sort-placeholder {
    background: #eee;
    margin: 20px 0;
}

/* Add font for Material Icons */
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialicons/v38/flUhRq6tzZclQEJ-Vdg-IuiaDsNZ.ttf) format('truetype');
}
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
}
.material-icons.drag-field-icon {
    font-size: 36px;
    cursor: move;
}
form:not(.form-inline) .form-control.bg-grey {
    background-color: #CCCCCC;
}