.formbuilder__sort-placeholder {
    background: #eee;
    margin: 20px 0;
}

/* Add font for Material Icons */
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialicons/v38/flUhRq6tzZclQEJ-Vdg-IuiaDsNZ.ttf) format('truetype');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
}

.material-icons.drag-field-icon {
    font-size: 36px;
    cursor: move;
}

form:not(.form-inline) .form-control.bg-grey {
    background-color: #CCCCCC;
}

a.delete-form {
    position: relative;
    top: -38px;
    left: 135px;
}

#edit_custom_form .form-group {
    width: auto;
}

#edit_custom_form .form-control {
    margin-bottom: auto;
}

.btn-success.add-new-field {
    height: 36px;
}
#edit_custom_form .card-body {
    padding: 1.25rem;
}

table.table-bordered {
    margin-bottom: 0;
}

footer#novaSignature {
    justify-content: space-around;
}
td.form-actions a {
    margin-right: 10px;
}
td.form-actions a:last-child {
    margin-right: 0;
}
.form-group label.ez-label.required:after {
    content: ' *';
    color: red;
}